.user
  .user__name
    = @user.name
    のマイページ
#follow_form
= render 'stats'
-if current_user.id == @user.id
  .matchers
    相互フォロー一覧
    - current_user.groups.each do |group|
      -group.users.each do|user|
        -if user.id != current_user.id
          .matchers__name
            =user.name
          = link_to group_messages_path(group) do
            メッセージを送る
-if current_user.id != @user.id
  - if current_user.following?(@user)
    フォロー済み
  - else
    = render 'follow'


