.wrapper{
  height: 100%;
  width: 100%;
  .header{
    height: 100px;
    width: 100%;
    background-color: #ddd;
    .account{
      color: red;

      &__name{
        float: left;
        color: black;
      }
      &__cog{
        float: right;
      }
    }
  }
  .contents{
    height: 600px;
    width: 200px;
      color: red;
    background-color: #eee;
    padding:0 20px;
    float: left;
    .users{
      &__name{
        padding-left:10px;
        color: black;
        &__link{
          float:right;
        }
      }

    }
  }
  .row{
    height: 600px;
    width: 200px;
      color: red;
    background-color: #eee;
    padding:0 20px;
    .col-md-8{
      .user-name{
        clear: both;
        float:left;
      }
      .btn{
        float:right;
      }

    }

  }
}
